<div class="row">
  <div class="col-lg-6 col-lg-offset-3 text-center">
    <p><img src='/images/Drawing.png' length='500px' width='320px'/></p>
    <h4>The information you want, to elect the President we need.</h4>
  </div>
</div>