<% include ./partials/header %>
<body>
 <% include ./partials/navbar %>
<div class='container'>
<h2>VOTESMART</h2>
<h3>The information you want, to elect the President we need.</h3>
  <div>
  <a href='/login'>Login</a></br>
  <a href='/signup'>Signup</a><br>
  <a href='/candidates'>Browse Candidates as guest</a></br>
  </div>
  </div>
</body>
</html>
