<% include ../partials/header %>
<body>
 <% include ../partials/navbar %>
<div class='container text-center'>
<h2>Welcome <%=user.userName%> </h2>
<% include ../partials/firstrow %>
<div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <a href="/candidates">Browse Candidates</a><br/>
            <a href="/articles/search">Search for an article</a><br/>
            <a href="/users/<%=user.id%>/articles">View Saved Articles</a><br/>
            <a href='/logout'>Logout</a><br/>
        </div>
        <div class='col-md-4'>
        </div>
      </div>
  </div>
  </div>
</body>
</html>


