<% include ../partials/header %>
<body>
 <% include ../partials/navbar %>
  <div class= "container text-center">
     <% include ../partials/firstrow %>
    <div class=row>
      <h2>Sign Up</h2>
      <form method='POST' action='/signup'>
        <p><label for='userName'>Username:</label></p>
        <input type='text' id='userName' name='user[userName]' autofocus/>
        <p><label for='userPass'>Password:</label></p>
        <input type='password' id='password' name='user[password]'/></br></br>
        <input type='submit' value='Sign Up!'>
      </form>
      <a href='/login'>Already have an account? Login here</a>
    </div>
  </div>
</body>
</html>


